# Ignore anything downloaded by sceptre hooks during testing
/templates/remote/

# Ignore stack group used for local testing
/config/test*/

# Ignore VS Code settings
.vscode/
*.env

# Virtual environment
.venv/

# Hidden OS files
.DS_Store

# Jetbrains
.idea/
