# Ignore anything downloaded by sceptre hooks during testing
/templates/remote/

# Ignore stack group used for local testing
/config/test*/

# Ignore VS Code settings
.vscode/settings.json

# Virtual environment
.venv/
