[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
sceptre = "2.5.0"
sceptre-cmd-resolver = "1.1.2"
pre-commit = "*"

[requires]
python_version = "3.9"

[packages]
sceptre-resolver-aws-secrets-manager = {file = "https://github.com/iAnomaly/sceptre-resolver-aws-secrets-manager/archive/v1.0.0.tar.gz"}
sceptre-ssm-resolver = "*"
