template:
  path: workflows-kms-key.yaml
stack_name: workflows-infra-kms-key

parameters:
  TemplateRootUrl: 'https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com'
  AccountAdminArns:
    - {{stack_group_config.sso_admin_role.arn}}
    - !stack_output_external github-oidc-nextflow-infra::ProviderRoleArn

stack_tags:
  {{stack_group_config.default_stack_tags}}
